@charset "UTF-8";
/* Footer CSS Document */
#footer {
	background:url('/images/background_footer.png') 0 -3px no-repeat;
	background-size:100%;
	border-top:1px solid #EAEAEA;
	height:190px;
}
#footerContent {
	background: url('/images/footer_dividers.png') 0 30px no-repeat;
	width:961px;
	
	margin-left:auto;
	margin-right:auto;
	
	padding-top:20px;
	
	color:#fff;
}
#footerContent A {
		color:#fff;
		font-weight:400;
		text-decoration:none;
}
#footerContent A:hover {
		color:#000;		
}
#footerContent div {
	margin-left:25px;
	margin-top:7px;
	height:110px;
}
#footerContent #bottom {
	height:35px;
}
#footerContent table td {
	padding-bottom:10px;
	font-size:13px;
	padding-right:60px;
}
#footerContent th {
	color:#000;
	font-weight:500;
	padding-bottom:15px;
}
#footerContent h2 {
	font-size:16px;
	display:inline;
}
#footerContent span {
	position:relative;
	top:-105px;
	left:480px;
}
#footerContent #invite {
	background: transparent url('/images/footer_textField.png') no-repeat;
	border:none;
	color:#494949;
	font-size:16px;
	width:305px;
	height:35px;
	padding:0 35px 0 5px;
	margin-top:20px;
}
#footerContent #invite:focus {
	outline:none;
}
#footerContent #submit {
	background:#fff url('/images/footer_submit.png') 1px 2px no-repeat;
	border:none;
	
	position:relative;
	top:-8px;
	right:36px;
	
	width:31px;
	height:25px;
}
#footerContent #submit:active {
	background-color:#E0E0E0;
	background-image:url('/images/footer_submitActive.png');
}
#footerContent img {
	position:relative;
	top:4px;
	right:0px;
}
#footerContent p {
	font-weight:300;
	font-size:12px;
}
#footerContent #google_translate_element {
	position:relative;
	top:-25px;
	left:300px;
}
#footerContent #google_translate_element, #google_translate_element div {
	margin:0;
	height:auto;
}
#footerContent #google_translate_element span{
	position:static;
}
#footerContent #google_translate_element div div select {
	border: 1px solid #E9E9E9;
  border-radius: 3px;
  -moz-border-radius: 3px;
	-webkit-border-radius:3px;
}
#footerContent #google_translate_element div div select{
  background:#fff url("./../images/dropDownIcon.png") no-repeat;
  vertical-align:middle;
  color:#555555;
  font-size: 10px;
  padding: 1px 2px 1px 10px;
  margin:0;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}