/* Header CSS (Logo + Nav Bar)*/
#header {
  
  background-image: url('/images/background_header.png');
  background-repeat: no-repeat;
  background-position:left top;
/*  background-size:100%; */
  
  padding-bottom:15px;
  border-bottom:1px solid #E8E8E8;
}
#header #headerContent {
  width:1200px;
  margin: 0 auto 0 auto;
}
#header #headerContent A {
  color: #555555;
  text-decoration: none;
}
/* Will become obsolete with js */
#header #headerContent A:hover {
  color:#00BE69;
  cursor:pointer;
}

/* Top Bar CSS */
#topBar {
  margin:0 0 38px 0;
}
#topBar #logo {
  margin: 25px 0 0 5px;
}
#topBar #headPages {
  font-size:14px;
  margin:30px 0 0 0;
}
#topBar #headPages A {
  margin-right:20px;
}

/* Navbar CSS */
#navBar{
  background-image:url('/images/background_navBar.png');
  background-repeat:no-repeat;
}

#searchField{
  height:24px;
  margin:8px 0 0 0;
  padding:0 6px 0 5px;
  background-color: transparent;
  color: #9E9E9E;
  border:none;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

#newsFeed {
  margin:9px 23px 0 30px;
  font-size:20px;
  padding:2px;
}

#storiesDiv {
  margin: 0 25px 0 0;
  font-size:13px;
}
#storiesDiv #upStories #topStories {
  margin-right:20px;
}
#storiesDiv #downStories #localStories {
  margin-right:13px;
}

#filtersDiv {
  font-size: 13px;
}
#filtersDiv #upFilters A {
  margin-right: 20px;
}
#filtersDiv #downFilters A {
  margin-right:9px;
}