/* Header CSS (Logo + Nav Bar)*/
#header {
  margin:1% 0 .5% 3.5%;
}
#header #headPages {
  font-size:14px;
  margin:1% 8% .5% 0;
}
#header #headPages A {
  color: #555555;
  text-decoration: none;
}
#header #headPages A:hover {
  color:#00BE69;
}
#navBar {
  background-image: url("/images/background_navBar.png");
  background-repeat: no-repeat;
  background-size:100%;
  padding:.5% 0 .5% 0;
  border-bottom:1px solid #E7E7E7;
 }
#searchField{
  margin:1.5% 1.6% 0% 3.5%;
  font-family:'Cabin', arial, serif;
  color: #9E9E9E;
  background-color: #FFFFFF;
  border: 2px solid #D3EADA;
  border-radius: 4px;
  -moz-border-radius:4px;
  height:27%;
}
#worldMapNewsFeed {  
  margin: 1.5% 12.4% 0% 6%;
  font-size:1.1em;
}
#worldMapNewsFeed A {
  padding:2px;
}
#navBar A {
  color: #555555;
  text-decoration: none;
}
#navBar A:hover {
  color: #00BE69;
}
#linksDiv {
  padding: 1% 0% .5% 0%;
  font-size: 13px;
}
#linksDiv A {
  padding-right:2%;
}
#topLinks{
  margin-bottom: 3px;
}
