/* Header CSS (Logo + Nav Bar)*/
#header {
  background-image: url('/images/background_header.png');
  background-repeat: no-repeat;

  background-size:100%;
  border-bottom:1px solid #E8E8E8;
}
#header #headerContent {
  width:1200px;
  margin: 0 auto 0 auto;
}
/* Top Bar CSS */
#header #headerContent #topBar {
  margin:0 0 38px 0;
}
#header #headerContent #topBar #logo {
  margin: 25px 0 0 .5px;
}
#header #headerContent #topBar #headPages {
  font-size:14px;
  margin:30px 0 0 0;
}
#header #headerContent #topBar #headPages A {
  color: #555555;
  margin-right:20px;
  text-decoration: none;
}
#header #headerContent #topBar #headPages A:hover {
  color:#00BE69;
}

/* Navbar CSS */
#header #headerContent #navBar{
  background-image:url('/images/background_navBar.png');
  background-repeat:no-repeat;
}
#searchField{
  background-color: transparent;
  color: #9E9E9E;
  
  height:24px;
  margin:8px 0 0 5px;
  padding:0 6px 0 5px;
  
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  
  
  border:none;
  
}
#worldMapNewsFeed {  
  margin: 1.5% 12.4% 0% 6%;
  font-size:1.1em;
}
#worldMapNewsFeed A {
  padding:2px;
}
#navBar A {
  color: #555555;
  text-decoration: none;
}
#navBar A:hover {
  color: #00BE69;
}
#linksDiv {
  padding: 1% 0% .5% 0%;
  font-size: 13px;
}
#linksDiv A {
  padding-right:2%;
}
#topLinks{
  margin-bottom: 3px;
}
