@charset "UTF-8";

/* Reset CSS Settings */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}





/* Main CSS Document */

BODY {
  margin:0px;
  color:#000; 
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
#main{
  background-image: url("./../images/background_content.png");
  background-repeat: no-repeat;
  background-size:100%;
  padding: 0 0 2% 0;
}
#content{
  width:1200px;
  margin:0 auto 0 auto;
}
#content h1{
  margin:0px;
  font-size:48px;
  font-weight:500;
}
#content p {
  margin:0px;
}
.blue {
	color: #4877B7
	}
.green{
	color: #48B768
}
.inline {
  display: inline;
}
.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}
.clearLeft {
  clear:left;
}
.clearRight {
  clear:right;
}
.textCenter {
  text-align:center;
}

.button {
  background: #48B76A;
  border: 1px solid #3b9737;
  font: bold 14px "Myriad Pro";
  color: #fff!important;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.3);  
  -webkit-box-shadow:1px 1px #D9D9D9;
  
  cursor: pointer;
}
.button:hover {
    background: #a6DAb3;
}
.button:active {
    background: #E19460;
    box-shadow: 0 0 3px rgba(0,0,0,0);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0);
}
