<style type="text/css">
	#main {
		height:590px;
	}
	#box {
		background: url('/images/login_box.png') no-repeat;
		width:741px;
		height:337px;
		margin:80px 0 0 150px;
	}
	#boxContent {
		padding:8px 20px 0 20px; 
	}
	#boxContent h1 {
		padding:33px 0 4px 45px;
	}
	.betaLabelTextField {
		position:relative;
		top:5px;
	}
	#boxContent div {
		margin:30px 46px 0 0;
	}
	
	.betaTextField {
		position:relative;
		top:2px;
		width:492px;
		height:28px;
	}
	
	.button {
		width:90px;
		height:29px;
		margin:20px 250px 0 151px;
	}
</style>

<div id="box">
	<div id="boxContent">
		<h1>Beta Member Login</h1>
		
		<form>
		<div>
			<label class='inline betaLabelTextField' for="username">Username</label>
			<%= text_field_tag('username', '', :class=>'betaTextField') %>
		</div>
		<div>	
			<label class='inline betaLabelTextField' for="password">Password</label>
			<%= text_field_tag('password', '', :type=>'password', :class=>'betaTextField') %>
		</div> 
		</form>
		
			<%= submit_tag('submit', :class=>'button') %>
			<%= link_to('Forgot your password?', '#')%>	
			
	</div>
</div>