<style type="text/css">
	#boxContent h1 {
		font-size:30px;
	}
</style>
		<h1>Thank You for your interest in Orchive</h1>
		<p>Our beta is currently full, however you are on the waiting list!<br />We will send you a beta code when space permits</p>