		<h1>Thank You for joining Orchive</h1>
		<p>You will receive an email shortly with your new beta code<br />Please wait while we redirect you</p>
		<p id="redirect">If you do not redirect in 10 seconds <%= link_to('click here', '/enter')%> </p>