<style type='text/css'>
	#main {
		background: url('/images/background_betaPages.png') 0 -6px no-repeat;
		height:590px;
	}
	#box {
		background: url('/images/ty_box.png') no-repeat;
		width:677px;
		height:267px;
		margin:150px 0 0 180px;
	}
	#boxContent {
		padding:15px 10px 5px 20px;
		color:#3f3f3f;
		text-align:center;
	}
	#boxContent h1 {
		margin:40px 0 30px 0;
		font-weight:600;
	}
	#boxContent p {
		font-size:16px;
		color:#4D4D4D;
	}
	#boxContent A {
		color:#4D4D4D;
		font-weight:500;
	}
	#boxContent A:hover {
		color:#48B76A;
	}
	#boxContent #redirect {
		text-align:right;
		font-size:10px;
		margin-top:40px;
	}
</style>
<div id="box">
	<div id="boxContent">
		<%= renderThankYou %>
	</div>
</div>