  <style type='text/css'>
	#main {
	  background-image:url('/images/background_about.png');
	  background-position:0 -100px;
	}
	h1, p {
	  margin-left:100px;
	}
  </style>
  
  <h1>About Us</h1>
  
    <p id="info">
          Orchive seeks to create an alternative way to
      access breaking news stories
	  <br />
      through an international networking website.
      <br /><br />
      Recognizing the importance of documenting the voices of those affected by 
      <br />
      an issue, Orchive provides a much-needed medium for people to share their own
      <br />
      experiences with significant events.
      <br /><br />
      The site provides a way for everyday people facing newsworthy events to
      <br />
      speak, be heard, and listen.
      <br /><br />
      Removing the filter that can sometimes distort the news in conventional media, 
      <br />
      Ochive presents users with a more pure and fair look at all sides of the story
      <br />
      from the voices of different people.
    </p>
    
  
  
  <!-- This is another format for the text (Not used)
    Orchive seeks to create an alternative way to
      <br />
      access breaking news stories through an interna-
      <br />
      tional networking website.
      <br /><br />
      Recognizing the importance of documenting the
      <br />
      voices of those affected by an issue,
      Orchive pro-
      <br />
      vides a much-needed medium for people to share
      <br />
      their own experiences with significant events.
      <br /><br />
      The site provides a way for everyday people
      <br />
      facing newsworthy events to speak, be heard, and
      <br />
      listen.
      <br /><br />
      Removing the filter that can sometimes distort the
      <br />
      news in conventional media, Ochive presents
      <br />
      users with a more pure and fair look at all sides of
      <br />the story from the voices of different people.
	  
	  <br />
	  <br />
	  <br /><br /><br /><br />
	  -->