  <style type='text/css'>
	#content { padding: 0 0 0 5%;}
  </style>
  <h1 id="aboutUs" class="inline">About Us</h1>
  
  <div id="textWorld">
    <p id="info" class="floatLeft" style="margin-right:16%;">
    <!-- This is text of new beta aboutus
    <a class="green">Orchive</a> seeks to create an alternative way to
      <br />
      access breaking news stories through an interna-
      <br />
      tional networking website.
      <br /><br />
      Recognizing the importance of documenting the
      <br />
      voices of those affected by an issue,
      <a class="green">Orchive</a> pro-
      <br />
      vides a much-needed medium for people to share
      <br />
      their own experiences with significant events.
      <br /><br />
      The site provides a way for everyday people
      <br />
      facing newsworthy events to speak, be heard, and
      <br />
      listen.
      <br /><br />
      Removing the filter that can sometimes distort the
      <br />
      news in conventional media, <a class="green">Ochive</a> presents
      <br />
      users with a more pure and fair look at all sides of
      <br />the story from the voices of different people.-->
      <a class="green">Orchive</a> seeks to create an alternative way to
      access breaking news stories<br />
      through an international networking website.
      <br /><br />
      Recognizing the importance of documenting the voices of those affected by 
      <br />
      an issue,
      <a class="green">Orchive</a> provides a much-needed medium for people to share their own
      <br />
      experiences with significant events.
      <br /><br />
      The site provides a way for everyday people facing newsworthy events to
      <br />
      speak, be heard, and listen.
      <br /><br />
      Removing the filter that can sometimes distort the news in conventional media, 
      <br />
      <a class="green">Ochive</a> presents users with a more pure and fair look at all sides of the story
      <br />
      from the voices of different people.
    </p>
    <%= image_tag("world.png", :class=>"") %>
  </div>
