  <div id="about">
    <h1 id="aboutUs" class="inline">About Us</h1>
  </div>
  
  <div id="textWorld">
    <p id="info" class="floatLeft">
      <a class="green">Orchive</a> seeks to create an alternative way to
      <br />
      access breaking news stories through an interna-
      <br />
      tional networking website.
      <br /><br />
      Recognizing the importance of documenting the
      <br />
      voices of those affected by an issue,
      <a class="green">Orchive</a> pro-
      <br />
      vides a much-needed medium for people to share
      <br />
      their own experiences with significant events.
      <br /><br />
      The site provides a way for everyday people
      <br />
      facing newsworthy events to speak, be heard, and
      <br />
      listen.
      <br /><br />
      Removing the filter that can sometimes distort the
      <br />
      news in conventional media, <a class="green">Ochive</a> presents
      <br />
      users with a more pure and fair look at all sides of
      <br />the story from the voices of different people.
    </p>
    <%= image_tag("world.jpg") %>
  </div>
