<style type='text/css'>
	#wrapper #main {
		padding-top:40px;
		background:none;
	}
	#wrapper #main #content {
		background:transparent url('/images/help_background.png') no-repeat;
		padding-top:0;
		width:790px;

	}
</style>
<h1>Command Center</h1>

<div>
	<h2>Getting Started with Orchive</h2>
	<!--READ ON BUTTON -->
	<table>
		<tr>
			<td>Making a New Post</td>
			<td>Contact Us</td>
		</tr>
		<tr>
			<td>Commenting</td>
			<td>Feeds(Story Filters)</td>
		</tr>
		<tr>	
			<td>Accuracy Rating</td>
			<td>Filters(Topic Filters)</td>
		</tr>
		<tr>	
			<td>Sign Up</td>
			<td>Intellectual Property</td>
		</tr>
	</table>
</div>

<div>
	<h2>Account Settings</h2>
	<!--READ ON BUTTON -->
	<table>
		<tr>
			<td>Name</td>
			<td><%= %></td>
		</tr>
		<tr>
			<td>Email Address</td>
			<td><%= %></td>
		</tr>
		<tr>	
			<td>Password</td>
			<td><%= %></td>
		</tr>
		<tr>	
			<td>Location</td>
			<td><%= %></td>
		</tr>
	</table>
</div>

<div>
	<h2>Future Features</h2>
	<!--READ ON BUTTON -->
	<table>
		<tr>
			<td>Profile</td>
			<td>World Map</td>
		</tr>
		<tr>
			<td>News Updates</td>
			<td>Interests</td>
		</tr>
		<tr>	
			<td>Following</td>
			<td>Interest Feed</td>
		</tr>
	</table>
</div>