<style type="text/css">
	#main {
		background-image:url('/images/background_betaPages.png');
		height:590px;
	}
	#box {
		background: url('/images/login_box.png') no-repeat;
		width:741px;
		height:337px;
		margin:80px 0 0 150px;
	}
	#boxContent {
		padding:8px 20px 0 20px; 
	}
	#boxContent h1 {
		padding:33px 0 4px 45px;
	}
	#boxContent h2 {
		position:relative;
		top:5px;
	}
	#boxContent div {
		margin:30px 53px 0 0;
	}
	#boxContent P {
		color:#4D4D4D;
	}
	#boxContent A {
		color:#4D4D4D;
		font-weight:500;
	}
	#boxContent A:hover {
		color:#48B76A;
	}
	
	.betaTextField {
		position:relative;
		top:2px;
		left:7px;
		width:492px;
		height:28px;
	}
	
	.button {
		width:90px;
		height:29px;
		margin:20px 250px 0 151px;
	}
</style>

<div id="box">
	<div id="boxContent">
		<h1>Beta Member Login</h1>
		<div>
			<label for="username"><h2 class="inline">Username</h2></label>
			<%= text_field_tag('username', '', :class=>'betaTextField') %>
		</div>
		<div>	
			<label for="password"><h2 class="inline">Password</h2></label>
			<%= text_field_tag('password', '', :type=>'password', :class=>'betaTextField') %>
		</div> 
		
			<%= submit_tag('submit', :class=>'button') %>
			<%= link_to('Forgot your password?', '#')%>	
			
	</div>
</div>