<style type="text/css">
	#main {
		background-image: url('/images/background_betaPages.png');
		height:590px;
	}
	#box {
		background: url('/images/request_box.png') no-repeat;
		width:677px;
		height:267px;
		margin:100px 0 0 180px;
	}
	#boxContent {
		padding:8px 20px 5px 20px;
		color:#3f3f3f;
	}
	#boxContent h1 {
		padding:40px 0 9px 40px;
	}
	#boxContent h2 {
		padding:0 1px 0 39px;
		font-size:24px;
		position:relative;
		top:4px;
	}
	#boxContent P {
		margin:0 0 20px 40px;
		color:#4D4D4D;
	}
	#boxContent A {
		color:#4D4D4D;
		font-weight:500;
	}
	#boxContent A:hover {
		color:#48B76A;
	}
	.textField {
		width:302px;
		height:29px;
		margin-bottom:30px;
	}
	.submitTextField {
		width:80px;
		height:28px;
	}
</style>

<div id="box">
	<div id="boxContent">
		<h1>Request a Beta Code</h1>
		
		<p>Want to be a beta tester? Simply submit your email below and we will send you<br />your very own beta code.</p> 
		
		<h2 class="inline">Email</h2>
		<%= text_field_tag('email', '', :type=>'email', :class=>'textField') %>
		<%= submit_tag('submit', :class=>'button submitTextField') %>
		
		<p>Already have a code? <%=link_to('Enter your code here', '/enter')%> </p>
	</div>
</div>