<style type="text/css">
	#main {
		background: url('/images/background_betaPages.png') 0 -6px no-repeat;
		height:590px;
	}
	#box {
		background: url('/images/ty_box.png') no-repeat;
		width:677px;
		height:267px;
		margin:150px 0 0 180px;
	}
	#boxContent {
		padding:15px 10px 5px 20px;
		color:#3f3f3f;
		text-align:center;
	}
	#boxContent h1 {
		font-size:30px;
		margin:40px 0 30px 0;
		font-weight:600;
	}
	#boxContent p {
		font-size:16px;
		color:#4D4D4D;
	}
	#boxContent A {
		color:#4D4D4D;
		font-weight:500;
	}
	#boxContent A:hover {
		color:#48B76A;
	}

</style>
<div id="box">
	<div id="boxContent">
		<h1>Thank You for your interest in Orchive</h1>
		<p>Our beta is currently full, however you are on the waiting list!<br />We will send you a beta code when space permits</p>
	</div>
</div>