<style type="text/css">
</style>
<div id="box">
	<div id="boxContent">
		<h1>Thank You for your interest in Orchive</h1>
		<p>Our beta is currently full, however you are on the waiting list!<br />You will receive a beta code when space permits</p>
	</div>
</div>