<style type="text/css">
	#main {
		background: url('/images/background_betaPages.png') 0 -6px no-repeat;
		height:590px;
	}
	#box {
		background: url('/images/ty_box.png') no-repeat;
		width:677px;
		height:267px;
		margin:150px 0 0 180px;
	}
	#boxContent {
		padding:15px 20px 5px 20px;
		color:#3f3f3f;
		text-align:center;
	}
	#boxContent h1 {
		margin:20px 0 75px 0;
	}
	#boxContent p {
		color:#4D4D4D;
	}
	#boxContent A {
		color:#4D4D4D;
		font-weight:500;
	}
	#boxContent A:hover {
		color:#48B76A;
	}
</style>
<div id="box">
	<div id="boxContent">
		<h1>Thank You for joining Orchive</h1>
		<p>Please wait while we redirect you to the Orchive Beta<br />If you do not redirect in 10 seconds <%= link_to('click here', '#')%> </p>
	</div>
</div>