<div id="footer">
  <p id="copy" class="inline"><a class="green">Orchive</a> &copy 2011-20XX</p>
  
  <div id="dropDownDiv" class="inline">    
    <select name="dropDown" id="dropDown">
      <option value="en">English</option>
      <option value="fr">French</option>
      <option value="de">Deutsch</option>
      <option value="ja">日本語</option>
      <option value="ar">عَرَبيْ</option>
      <option value="it">Italiano</option>
      <option value="ru">Pусский</option>
      <option value="po">Polski</option>
      <option value="zh-CN">中文</option>
      <option value="es">Español</option>
      <option value="ko">한국어</option>
      <option value="nl">Nederlands</option>
      <option value="hi">हिन्दी </option>
      <option value="el">Ελληνική</option>
      <option value="ro">Română</option>
    </select>
  </div>
  
  <span id="pageNav" class="floatRight">
    <p>
      <%= link_to 'Privacy', '/privacy' %>
      &#8942
      <%= link_to 'Terms', '/terms' %>
    </p>
  </span>
</div>
