<header>
		<%= image_tag('logo.png', :alt=>'Orchive') %>
		<span class="floatRight">
			<%= link_to('About', '#') %>
			<%= link_to('Beta', '/login') %>
			<%= link_to('Join', '/enter') %>
		</span>
</header>